@model MvcApplication.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        @Html.PasswordFor(m => m.OldPassword, new {@class="form-control", placeholder="Current Password" })
        <br />
        @Html.PasswordFor(m => m.NewPassword, new {@class="form-control", placeholder="New Password" })
        <br />
        @Html.PasswordFor(m => m.ConfirmPassword, new {@class="form-control", placeholder="Confirm New Password" })
        <br />
        <input type="submit" class="btn btn-primary" value="Change password" />
    </fieldset>
}
