<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>

         <meta name="description" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
    </head>
    <body>

        <header>
            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  @Html.ActionLink("Project name", "Index", "Home", null, new { @class="navbar-brand"})
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                  </ul>
                </div><!--/.navbar-collapse -->        
              </div>
            </div>
        </header>

        <div class="under_the_menu">
            <div class="container">
                @RenderSection("featured", required: false)
                @RenderBody()

                <footer>
                    &copy; @DateTime.Now.Year
                </footer>

            </div> <!-- /.container -->
        </div> <!-- /.under_the_menu -->

        @Scripts.Render("~/bundles/essential-js")
        @RenderSection("scripts", required: false)
    </body>
</html>
